.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 50px;

}
.list{
    display: flex;
    flex-wrap: wrap;
    gap:29px;
    
}
.filter_massage{
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    color: red;
    padding: 20px;

}
.button_more{
    display: block;
margin: 100px auto;
color:var(--blue-color);
border: none;
background-color: transparent;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
transition: background-color var(--time-transition);
}
.button_more:is(:hover, :focus){
    color: var(--hover-blue);  
  }